<ion-header>
  <ion-navbar>
    <ion-title>Lux</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="loader" *ngIf="!atividades">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <ion-list *ngIf="atividades">
        <ion-item *ngFor="let atividade of atividades">
          <ion-avatar item-start>
            <img src="https://loremflickr.com/320/240">
          </ion-avatar>
          <h2>{{ atividade.nome }}</h2>
          <p>{{ atividade.tipo }}</p>
          <p>{{ atividade.pontuacao }}</p>
        </ion-item>
      </ion-list>
</ion-content>
