<ion-header>
  <ion-navbar>
    <ion-title>{{ atividade.nome }}</ion-title>
  </ion-navbar>
  <ion-searchbar color="branco" *ngIf="page_options.search_bar" placeholder="Quem participou da atividade?">
  </ion-searchbar>
  <ion-segment [(ngModel)]="page_options.participantes_segment">
    <ion-segment-button value="adicionar">
      Adicionar
    </ion-segment-button>
    <ion-segment-button value="remover">
      Remover
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content padding>
  <div class="loader" *ngIf="!page_options.usuarios_carregados">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="page_options.usuarios_carregados">
    <ion-card [ngSwitch]="page_options.participantes_segment">
      <div *ngIf="usuarios != null">
        <ion-list *ngSwitchCase="'adicionar'">
          <ion-item *ngFor="let usuario of usuarios">
            <ion-avatar item-start>
              <img src="https://loremflickr.com/320/240">
            </ion-avatar>
            <p>{{ usuario.nome }}</p>
            <button ion-button item-end color="secondary" (click)="alterarStatusUsuarioAtividade(1, usuario)">
              <ion-icon name="check"></ion-icon> Adicionar
            </button>
          </ion-item>
        </ion-list>
      </div>
      <h2 *ngIf="!usuarios">Nenhum usuário para adicionar</h2>
      <ion-list *ngSwitchCase="'remover'">
        <ion-item *ngFor="let usuario_remover of usuarios_remover">
          <ion-avatar item-start>
            <img src="https://loremflickr.com/320/240">
          </ion-avatar>
          <p>{{ usuario_remover.nome }}</p>
          <button ion-button item-end color="danger" (click)="alterarStatusUsuarioAtividade(0, usuario_remover)">
            <ion-icon name="check"></ion-icon> Remover
          </button>
        </ion-item>
        <h2 *ngIf="!usuarios_remover">Nenhum usuário cadastrado</h2>
      </ion-list>
    </ion-card>
  </div>
</ion-content>