<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button outline (click)="actionSheetOpcoes()">Opções</button>
      <button ion-button blocked (click)="logout()">Sair</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="loader" *ngIf="!usuario_logado">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <!-- CARD DO USUÁRIO -->
  <ion-card *ngIf="usuario_logado">
    <ion-item>
      ID: {{ usuario_logado.CID }}
    </ion-item>
    <ion-item>
      Nome: {{ usuario_logado.nome }}
    </ion-item>
    <ion-item>
      Capítulo: {{ usuario_logado.capitulo }}
    </ion-item>
    <ion-item>
      E-mail: {{ usuario_logado.email }}
    </ion-item>
  </ion-card>
</ion-content>