<ion-header>
  <ion-navbar>
    <ion-title>Cadastros</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loader" *ngIf="!page_options.loaded">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <ion-list *ngIf="page_options.loaded && usuarios">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-avatar item-start>
        <img src="https://loremflickr.com/320/240">
      </ion-avatar>
      <h2>{{ usuario.nome }}</h2>
      <p>{{ usuario.CID }}</p>
      <p>{{ usuario.email }}</p>
      <button ion-button color="secondary" (click)="modificarStatusUsuario(1, usuario)" icon-left>
        <ion-icon name="checkbox"></ion-icon>
        Aprovar
      </button>
      <button ion-button color="danger" (click)="modificarStatusUsuario(2, usuario)" icon-left>
        <ion-icon name="close-circle"></ion-icon>
        Reprovar
      </button>
      <div class="status_alterado" *ngIf="usuario.status != 3">
        <button ion-button>Ação realizada!</button>
      </div>
    </ion-item>
  </ion-list>
  <div class="vazio" *ngIf="page_options.loaded && !usuarios">
    Nenhuma solicitação à ser aprovadaran
  </div>
</ion-content>