page-ranking {
    .item-avatar {
        border-radius: 50%;
    }
    .Cobre {
        border: 4px solid #353329;
    }
    .Bronze {
        border: 4px solid #8a7028;
    }
    .Prata {
        border: 4px solid #828282;
    }
    .Ouro {
        border: 4px solid #ffd700;
    }
    .Diamante {
        border: 4px solid #afeeee;
    }
    .Platina {
        border: 4px solid #708090;
    }
}
